<div class="character-list-container">
  <mat-toolbar color="primary">
    <span>Rick and Morty Characters</span>
    <span class="spacer"></span>
    <mat-button-toggle-group [(value)]="viewMode" aria-label="View mode">
      <mat-button-toggle value="cards" (click)="setViewMode('cards')">
        <mat-icon>view_module</mat-icon>
        Cards
      </mat-button-toggle>
      <mat-button-toggle value="table" (click)="setViewMode('table')">
        <mat-icon>table_chart</mat-icon>
        Table
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>

  <div class="content" *ngIf="!isLoading; else loadingSpinner">
    <div *ngIf="viewMode === 'cards'" class="cards-container" [@listAnimation]="characters.length">
      <app-card-base 
        *ngFor="let character of characters" 
        [character]="character"
        (cardClick)="onCharacterClick($event)">
      </app-card-base>
    </div>

    <div *ngIf="viewMode === 'table'" class="table-container">
      <app-grid-base 
        [characters]="characters"
        (rowClick)="onCharacterClick($event)">
      </app-grid-base>
    </div>
  </div>

  <ng-template #loadingSpinner>
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
