<mat-card class="character-card" (click)="onCardClick()">
  <mat-card-header>
    <mat-card-title>{{ character.name }}</mat-card-title>
    <mat-card-subtitle>{{ character.species }} - {{ character.status }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="character.image" [alt]="character.name">
  <mat-card-content>
    <p><strong>Origin:</strong> {{ character.origin.name }}</p>
    <p><strong>Location:</strong> {{ character.location.name }}</p>
  </mat-card-content>
</mat-card>
